
body {
    margin: 0;
    padding: 0;
    font-family: 'Martian Mono', sans-serif;
}
    
.intro{
    height: 100%;
    background-color: #f7f7f7;
    margin-top: -4%;
}

    .intro-text>h1{
        font-size: 4.5rem;
        font-weight: 100;
        text-align: center;
        padding-top: 12.5%;
    }
    .intro-text>h2{
        font-size: 1.5rem;
        font-weight: 100;
        text-align: center;
    }

    img[alt="plane"]{
        position: absolute;
        top: 50px;
        right: 500px;
    }

    img[alt="eagle"]{
        position: absolute;
        top: 350px;
        left: 200px;
    }

    img[alt="tree"]{
        margin-left: 65%;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }

.hero{
    text-align: center;
    margin-bottom: 40px;
}

    img.pasfoto{
        margin: 70px 0 10px 0;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 50% 40%;
    }

    .hero-paragraph{
        display: flex;
        justify-content: center;
    }
    
    .hero-paragraph>p{
        margin: 30px 0 30px 0;
        width: 45%;
    }

.resume{
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}
    .resume-container{
        width: 75%;
        margin-top: 50px;
    }

    .skills{
        display: grid;
        grid-template-columns: 25% 75%;
        margin-bottom: 50px;
    }

    .experience{
        display: grid;
        grid-template-columns: 25% 75%;
    }

    .job{
        margin-bottom: 90px;
    }

    .job-grid{
        display: grid;
        grid-template-columns: 55% 45%;
    }

    .job>h3{
        margin: 0 0 15px 0;
    }

    .job-grid>h4{
        text-align: end;
    }

    .education{
        display: grid;
        grid-template-columns: 25% 75%;
    }

    .education p{
        margin: 20px 0 40px 0;
    }

    .skills-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .skills-grid>h4{
        flex-basis: 500px;
        
    }

.project{
    margin: 50px 0px 70px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .project-heading{  
        text-align: center;
        padding: 10px 0 10px 0;
    }

    .project-container{
        margin-top: 50px;
        /* display: flex;
        flex-direction: column;
        justify-self: center; */
        max-width: 1140px;
    }

    .project-card{
        display: flex;
        height: 300px;
        /* justify-self: center; */
        box-shadow: 0px 0px 20px 0px;
        margin-bottom: 50px;
    }

    .project-image>img{
        height: 300px;
        width: 600px;
        border-right: solid 1px #a3a3a3;
    }

    .project-text{
        margin-left: 20px;
        width: 519.2px;
    }

    .project-text>p{
        margin: 20px 20px 20px 0;
        text-wrap: pretty;
    }

.about{
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}

    .about-container{
        padding: 80px 0px 80px 0px;
        max-width: 1140px;
    }

    .about-card{
        padding: 25px 10px 25px 10px;
        display: flex;
        justify-self: center;
        justify-content: space-evenly;
        box-shadow: 0px 0px 20px 0px;

    }

    .about-para{
        width: 50%;
    }
    .about-para>p{
        text-wrap: pretty;
    }

footer{
    background-color: #393E46;
    color: #EEEEEE;
    padding: 50px 0 20px;
}
    div.nav{
        display:flex;
        justify-content: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    div.nav>div{
        margin: 20px 30px 0px 30px;
    }

    a.nav-link{
        color: #EEEEEE;
        text-decoration: none;
    }

    .footer-name{
        text-align: center;
        padding: 20px 20px 20px 20px;
    }

    .fab, .fas{
        margin-right: 10px;
        font-size: 24px;
        color: #EEEEEE;
    }

    .footer-line{
        width: 808px;
    }

    .carousel {
        position: relative;
        overflow: hidden;
      }
      
      .carousel-image {
        width: 100%;
        display: none;
        transition: opacity 0.5s ease-in-out;
      }
      
      .carousel-image.active {
        display: block;
      }
      
      .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.5rem;
        background-color: transparent;
        color: rgb(132, 132, 132);
        border: none;
        padding: 0.5em;
        cursor: pointer;
        z-index: 1;
      }
      
      .carousel-button.prev {
        left: 0px;
      }
      
      .carousel-button.next {
        right: 1px;
      }
      

    @media (max-width: 1200px) {
       
        .intro{
            margin-top: -5%;
        }
            .intro-text>h1{
                font-size: 3.5rem;
                padding-top: 13%;
            }
            .intro-text>h2{
                font-size: 1.5rem;
            }
        
            img[alt="plane"]{
                right: 200px;
            }
        
            img[alt="eagle"]{
                left: 150px;
            }
        
            img[alt="tree"]{
                margin-left: 65%;
            }

        .about{
            font-size: x-small;
        }

            .about-container{
                padding: 80px 0px 80px 0px;
                max-width: 960px;
            }
        
            .about-card{
                padding: 25px 0px 25px 0px;
            }

        .resume{
            font-size: smaller;
        }
            .job{
                margin-bottom: 50px;
            }
        
            .job-grid{
                grid-template-columns: 50% 50%;
            }

        .project-image>img{
            height: 200px;
            width: 450px;
        }
            .project-container{
                max-width: 960px;
            }

            .project-card{
                height: 200px;
                font-size: small;
            }

            .project-text{
                width: 489.47px;
            }

            .project-text>p{
                margin-top: 20px;
                margin-right: 10px;
            }
        
        footer{
            font-size: x-small;
            padding: 10px 0 10px;
        }
            div.nav{
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            .footer-name{
                padding: 10px 10px 10px 10px;
            }
            
            .footer-line{
                width: 600px;
            }
    }

    @media (max-width: 992px) {
       
        .intro-text>h1{
            font-size: 2.5rem;
        }
            .intro-text>h2{
                font-size: 1.0rem;
            }
        
            img[alt="plane"]{
                top: 25px;
                height: 55px;
            }
        
            img[alt="eagle"]{
                top: 250px;
                height: 55px;
            }
        
            img[alt="tree"]{
                height: 250px;
            }

        .hero-paragraph{
                font-size: small;
            }

            .hero-paragraph>p{
                width: 60%;
            }

            img.pasfoto{
                height: 180px;
                width: 180px;
            }

        .about-container{
            padding: 80px 0px 40px 0px;
            max-width: 720px;
        }
    
            .about-card{
                padding: 15px 10px 15px 10px;
            }

        .resume{
            font-size: x-small;
        }
            .job{
                margin-bottom: 40px;
            }
            .job>h3{
                margin: 0 0 12.5px 0;
            }

            .job>p{
                margin: 0 0 25px 0;
            }

        .project{
            margin: 20px 0 70px 0;
        }

        .project-image>img{
            width: 350px;
        }
            .project-container{
                max-width: 720px;
            }

            .project-text>h2{
                margin-top: 20px;
            }

            .project-heading{
                font-size: smaller;
            }

            .project-text{
                width: 349.09px;
            }

            .project-card{
                font-size: x-small;
            }
        
    }

    @media (max-width: 768px) {
       
        .intro{
            margin-top: -7%;
        }
            .intro-text>h1{
                font-size: 1.5rem;
            }
            .intro-text>h2{
                font-size: 0.5rem;
            }
        
            img[alt="plane"]{
                right: 100px;
                top: 25px;
                height: 25px;
            }
        
            img[alt="eagle"]{
                left: 100px;
                top: 150px;
                height: 25px;
            }
        
            img[alt="tree"]{
                height: 150px;
            }

        .hero-paragraph{
            font-size: xx-small;
        }

            .hero-paragraph>p{
                margin: 15px 0 15px 0;
                width: 60%;
            }

            img.pasfoto{
                margin: 50px 0 10px 0;
                height: 90px;
                width: 90px;
            }

            .hero-header{
                font-size: larger;
            }

        .about{
            font-size: xx-small;
        }

            .about-container{
                padding: 40px 0px 20px 0px;
                max-width: 556px;
            }
        
            .about-card{
                padding: 7px 10px 7px 10px;
                flex-direction: column;
            }

            .about-para{
                width: 100%;
            }

        .resume{
            font-size: 47%;
        }

            .education-header>h2,.experience-header>h2{
                font-size: 190%;
                text-decoration: underline;
            }

            .skills-header{
                text-decoration: underline;
            }

            .education-header,.experience-header{
                margin-bottom: 50px;
            }

            .education{
                grid-template-rows: 10% 90%;
                grid-template-columns: 100%;
            }

            .experience{
                grid-template-rows: 10% 90%;
                grid-template-columns: 100%;
            }

            .job{
                margin-bottom: 0px;
            }
        
        .project-container{
            margin-top: 25px;
            max-width: 550px;
        }

            .project-heading{
                font-size: x-small;
            }

            .project-image>img{
                width: 100%;
                border-bottom: solid 1px #a3a3a3;
            }

            .project-card{
                height: max-content;
                flex-direction: column;
                font-size: xx-small;
            }

            .project-text{
                width: 489.46px;
            }

            .project-text>p{
                margin-top: 5px;
                margin-right: 10px;
                padding-right: 20px;
            }
        
        footer{
            font-size: 50%;
        }
            .fab{
                font-size: 20px;
                margin-left: 15px;
            }

            .fas{
                font-size: 20px;
                margin-left: 5px;
            }

            .footer-line{
                width:300px;
            }

            div.nav>div {
                margin: 10px 0px 10px 25px;
            }
    }

    @media (max-width: 576px){

        .about-container{
            max-width: 350px;
        }

        .project-container{
            max-width: 350px;
        }

            .project-image>img{
                width: 350px;
            }
        
        .project-text{
            width: 350px;
        }
        
        div.nav>div {
            flex-basis: 35px;
        }
    }