
body {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    font-family: 'Martian Mono', sans-serif;
}
    
.intro{
    height: 100%;
    background-color: #f7f7f7;
    margin-top: -4%;
}

    .intro-text>h1{
        font-size: 4.5rem;
        font-weight: 100;
        text-align: center;
        padding-top: 12.5%;
    }
    .intro-text>h2{
        font-size: 1.5rem;
        font-weight: 100;
        text-align: center;
    }

    img[alt="plane"]{
        position: absolute;
        top: 50px;
        right: 500px;
    }

    img[alt="eagle"]{
        position: absolute;
        top: 350px;
        left: 200px;
    }

    img[alt="tree"]{
        margin-left: 65%;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }

.hero{
    text-align: center;
    margin-bottom: 40px;
}

    img.pasfoto{
        margin: 70px 0 10px 0;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 50% 40%;
    }

    .hero-paragraph{
        display: flex;
        justify-content: center;
    }
    
    .hero-paragraph>p{
        margin: 30px 0 30px 0;
        width: 45%;
    }

.resume{
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}
    .resume-container{
        width: 75%;
        margin-top: 50px;
    }

    .skills{
        display: grid;
        grid-template-columns: 25% 75%;
        margin-bottom: 50px;
    }

    .experience{
        display: grid;
        grid-template-columns: 25% 75%;
    }

    .job{
        margin-bottom: 90px;
    }

    .job-grid{
        display: grid;
        grid-template-columns: 55% 45%;
    }

    .job>h3{
        margin: 0 0 30px 0;
    }

    .job-grid>h4{
        text-align: end;
    }

    .education{
        display: grid;
        grid-template-columns: 25% 75%;
    }

    .education p{
        margin-bottom: 40px;
    }

    .skills-grid{
        display: flex;
    }

    .skills-grid>h4{
        flex-basis: 500px;
        
    }

.project{
    margin: 50px 0px 70px 0px;
}

    .project-heading{  
        text-align: center;
        padding: 10px 0 10px 0;
    }

    .project-container{
        margin-top: 50px;
    }

    .project-card{
        display: flex;
        width: 1300px;
        height: 300px;
        justify-self: center;
        box-shadow: 0px 0px 20px 0px;
        margin-bottom: 50px;
    }

    .project-image>img{
        height: 300px;
        width: 600px;
        border-right: solid 1px #a3a3a3;
    }

    .project-text{
        margin-left: 20px;
    }

    .project-text>p{
        margin-top: 50px;
        text-wrap: pretty;
    }

.about{
    background-color: #f7f7f7;
}

    .about-container{
        padding: 80px 0px 80px 0px;
    }

    .about-card{
        padding: 25px 0px 25px 0px;
        display: flex;
        justify-self: center;
        justify-content: space-evenly;
        width: 1300px;
        box-shadow: 0px 0px 20px 0px;

    }

    .about-para{
        width: 50%;
    }
    .about-para>p{
        text-wrap: pretty;
    }

footer{
    background-color: #393E46;
    color: #EEEEEE;
    padding: 50px 0 20px;
}
    div.nav{
        display:flex;
        justify-content: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    div.nav>div{
        margin: 20px 30px 0px 30px;
    }

    a.nav-link{
        color: #EEEEEE;
        text-decoration: none;
    }

    .footer-name{
        text-align: center;
        padding: 20px 20px 20px 20px;
    }

    .fab, .fas{
        margin-right: 10px;
        font-size: 24px;
        color: #EEEEEE;
    }